{% extends "admin/change_list.html" %}
{% load i18n %}


{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
   <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

{% endblock %}


{% block content %}
<!-- Render our chart -->
<div id="app" style="width: 100%;">
<div v-if="response">
    <google-map :center="{lat: 19.894112820589186, lng: 99.82778549194336}" :zoom="12" style="width: 100%; height: 500px">
       <google-marker
            v-for="map,index in maps" :key="index"
            :position="map"
            :clickable="true"
            :draggable="true"

          />
    </google-map>
</div>



</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>sc
    <script src="http://xkjyeah.github.io/vue-google-maps/vue-google-maps.js"></script>
  <script>
   const rawData = [{% for data in cl.queryset  %} "{{data.location}}",{% endfor %}]
   Vue.use(VueGoogleMaps, {
      load: {
        key: 'AIzaSyC04k2TIJBXUa0yJQ0N2XimbuiVubkgG6g',
        v: '3.26',
          region: 'TH',
        language: 'th',
      },
      // Demonstrating how we can customize the name of the components
      installComponents: false,
    });

 Vue.component('google-map', VueGoogleMaps.Map);
           Vue.component('google-marker', VueGoogleMaps.Marker);


  new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data:()=>{
          return ({
              maps:null,
              response:false,
place: '',
          });
      },
    async created(){
        await this.generateGeo();
        this.response = true;
    },
      methods:{
           async generateGeo(){
          let data = [];
          for(let i=0; i< rawData.length; i++){
              let latlng = rawData[i].split(",");
              data.push({
                 lat: Number(latlng[0]), lng: Number(latlng[1])
              })

          }
          this.maps = data;

          console.log(data);
    }
      }


    })
  </script>



<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}